/*
Aplicar estilo a una etiqueta en específico

nombre_de_etiquet¨{
	prop1: valor;
	prop2: valor;
	....
	....
}
	Ejemplo:
*/

p{
	color: #424F5A;
}

div{
	background-color:#FC6D26;
	width: 30%;
	height: 100px;
}

body{
	background: #D0D9E1;
}
